.my-logout-btn{
align-items: center;
margin-left: 10px;
font-weight: 500;
font-size: 18px;
 border: none;
 padding: 8px 22px;
 border-radius: 6px;
 position: relative;
 left:40%; 
 top: 5%;
}


@media (max-width:750px) {
.my-logout-btn{
left:35%;
 }             
}

@media (max-width:500px) {
          .my-logout-btn{
             left:30%;
   }             
}